@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Aranea Archives</h1>
    <p><a asp-controller="Directories" asp-action="Index" class="btn btn-primary">To the Shelf</a></p>
</div>
