@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Aranea Archives</h1>
  
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Spider">us</a>.</p>
    <a asp-controller="Directories" asp-action="Index" class="btn btn-primary">Go to Directories</a>
</div>
