@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AraneaArchives.Models.Notes

@{
    ViewData["Title"] = "Notes Reading";
}
<p>
    <div class="card">
  <div class="card-header">
     @Model.NotesName
  </div>
  <div class="card-body">
      <p>
    @Html.DisplayFor(n=>n.NotesContents)
    </p>
    
    <a asp-controller="Notes" asp-action="Edit" asp-route-id="@Model.NotesId" class="btn btn-primary">Edit</a>
    <a asp-controller="Notes" asp-action="Delete" asp-route-id="@Model.NotesId" class="btn btn-danger">Delete</a>

</div>
    </div>
</p>
